<style> 

h1 {
  background: <%= @back_color %>;
}

body {
  background-image: <%= @image %>;
}

.big_font {
  color: <%= @font_color %>;
}

</style>

<h1>Emergency Compliment</h1>
<div class="big_font"><%= @message_post %></div>