.big_font {
  font-size: 90px;
  color: white;
  padding: 20px;
}

h1 {
  border-bottom: 1px solid white;
  color: white;
  font-size: 30px;
  padding: 20px;
  background: black;
}

body {
  background: black;
  background-size: 100%
}